{% extends "back_end/master.html" %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <div class="layui-input-inline layui-shw-xs-block">
                            <ul style="display: flex;float: left;padding: 0;margin: 0;margin-left: 10px;">
                                <li style="margin-right: 10px;">
                                    <a href="/admin/all_article"><p
                                            style="color: #01AAED;float: left">全部</p>
                                        ({{ article_count }})</a>
                                </li>
                                <li style="margin-right: 10px">
                                    <a href="/admin/user_article"><p
                                            style="color: #01AAED;float: left">我的</p>
                                        ({{ article_user_count }})</a>
                                </li>
                                <li style="margin-right: 10px">
                                    <a href="/admin/user_article_release"><p style="color: #01AAED;float: left">
                                        已发布</p>({{ article_release_count }})</a>
                                </li>
                                <li style="margin-right: 10px">
                                    <a href="/admin/user_article_draft"><p style="color: #01AAED;float: left">草稿箱</p>
                                        ({{ article_draft_count }})</a>
                                </li>
                                <li style="margin-right: 10px">
                                    <a href="/admin/user_article_review"><p style="color: #01AAED;float: left">
                                        待审核</p>({{ article_review_count }})</a>
                                </li>
                                <li style="margin-right: 10px">
                                    <a href="/admin/user_article_recycle"><p style="color: #01AAED;float: left">
                                        回收站</p>({{ article_recycle_count }})</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div>
                        {% block classify %}

                        {% endblock %}
                    </div>
                    <div id="show_all_article">
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>分类目录</th>
                                    <th>日期</th>
                                    <th>浏览数</th>
                                    <th>点赞数</th>
                                    <th>评论数</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for article in page %}
                                    <tr>
                                        <td>{{ article.title }}</td>
                                        <td>{{ article.user.username }}</td>
                                        <td>{{ article.classification.title }}</td>
                                        <td>{{ article.classification.title }}</td>
                                        {% if article.is_release == 1 %}
                                            <td><p>已发布</p>{{ article.create_time|date:"Y-m-d H:i" }}</td>
                                        {% else %}
                                            <td><p>最后修改</p>{{ article.create_time|date:"Y-m-d H:i" }}</td>
                                        {% endif %}
                                        <td>{{ article.views }}</td>
                                        <td>{{ article.like_count }}</td>
                                        <td>{{ article.comment_count }}</td>
                                        <td>
                                            <button class="layui-btn layui-btn-xs"
                                                    onclick="xadmin.open('查看','/admin/article_view/{{ article.pk }}/')">
                                                <i class="layui-icon">&#xe615;</i>查看
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% include "back_end/page.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
{% endblock %}
