{% extends "back_end/master.html" %}
{% block content %}
    <div class="admin-div-back" style="padding-left: 100px;">
        {% csrf_token %}

            {% for comment in comments %}

        <div style="padding-top: 20px;float: none">
            <p style="margin-top: 15px;font-size: 25px">修改评论内容：<input type="text" id='title' value="{{ comment.body }}" style="width: 500px;height: 200px;"></p>
        </div>
        <div style="padding-top: 20px">
            <button class="layui-btn layui-btn-lg layui-btn-warm" onclick="comment_update({{ comment.id }})">提交修改</button>
            &nbsp;&nbsp;<label id="error_messages" style="font-size: 20px;color: red"></label>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block jquery %}
    <script src="/static/jquery-3.3.1.js"></script>
    <script>
        function comment_update(pk) {
            var formData = new FormData();
            var title = $("#title").val();

            if (title.length ===0){
                $("#error_messages").text("评论内容不能为空！请输入！");
            }
            formData.append("title",title);
            formData.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());

            //发异步提交数据
            $.ajax({
                url: "/admin/comment_update/" + pk +'/',
                type: "post",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data.status === 1) {
                        alert(data.msg);
                        parent.location.reload(); //刷新到父亲对象（框架）
                    } else {
                        $("#error_messages").text("修改失败！");
                    }
                },
            });
        }
    </script>
{% endblock %}