<!doctype html>
<html class="x-admin-sm" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'back_end/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'back_end/css/xadmin.css' %}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="{% static 'back_end/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'back_end/js/xadmin.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="/admin/index/">后台管理</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            {% if unread_count %}
                <span class="layui-badge-dot"></span>
            {% endif %}
            <a href="javascript:void(0)">{{ request.user.username }}</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.add_tab('通知详情','/admin/welcome/')">通知
                        {% if unread_count %}
                            <span class="layui-badge">{{ unread_count }}</span>
                        {% endif %}
                    </a>
                </dd>
                <dd>
                    <a href="/login/">切换帐号</a></dd>
                <dd>
                    <a href="/logout/">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/home/">前台主页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="文章管理">&#xe6b8;</i>
                    <cite>文章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('文章详情','/admin/article_list/')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章详情</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('增加文章','/admin/article_add/')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>写文章</cite></a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li>
                            <a onclick="xadmin.add_tab('文章类别','/admin/article_class/')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>文章类别</cite></a>
                        </li>
                    {% endif %}

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="评论管理">&#xe723;</i>
                    <cite>评论管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('评论详情','/admin/comment_list/')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评论详情</cite></a>
                    </li>
                </ul>
            </li>
            {% if request.user.is_superuser %}
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="广告管理">&#xe723;</i>
                        <cite>广告管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('广告信息管理','/admin/admin_ad_poster/')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>广告信息详情</cite></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="友情链接管理">&#xe723;</i>
                        <cite>友情链接管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                        <li>
                            <a onclick="xadmin.add_tab('友情链接管理','/admin/links/')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>友情链接详情</cite></a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="个人中心">&#xe726;</i>
                    <cite>个人中心</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('个人信息','/admin/admin_index/')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>个人信息</cite></a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li>
                            <a onclick="xadmin.add_tab('用户列表','/admin/admin_list/')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户列表</cite></a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</div>
{#<div class="x-slide_left"></div>#}
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->

<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面

                <span class="layui-badge">{{ unread_count }}</span>

            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/admin/welcome/' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>

</html>