{% extends "back_end/master.html" %}
{% block content %}
    <div class="admin-div-back" style="padding-left: 100px;">
        {% csrf_token %}
        <div style="padding-top: 20px;float: none">
            <p style="margin-top: 15px;font-size: 25px">修改友情链接标题：<input type="text" id='title' value="{{ links.title }}" style="width: 500px;height: 30px;"></p>
            <p style="margin-top: 15px;font-size: 25px"> 修改广告友情链接URL：<input type="text" id='url' value="{{ links.url }}" style="width: 500px;height: 30px;"></p>
            <p style="margin-top: 15px;font-size: 25px"> 修改是否在首页展示：<select id="show1"><option value="1" selected>展示</option><option value="0">不展示</option></select></p>
        </div>
        <div style="padding-top: 20px">
            <button class="layui-btn layui-btn-lg layui-btn-warm" onclick="links_update()">提交修改</button>
            &nbsp;&nbsp;<label id="error_messages" style="font-size: 20px;color: red"></label>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script src="/static/jquery-3.3.1.js"></script>
    <script>
        function links_update() {
            var formData = new FormData();
            var title = $("#title").val();
            var url = $("#url").val()
            var is_show = $("#show1").val()

            if (title.length ===0){
                $("#error_messages").text("标题不能为空！");
            }else {
                formData.append("title",title);
                if (url.length === 0){
                    $("#error_messages").text("URL不能为空！");
                }else {
                    formData.append("url",url);
                    if (is_show.length === 0){
                         $("#error_messages").text("请选择是否在前台显示！");
                    }else {
                        formData.append("is_show",is_show)
                    }
                }
            }
            formData.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());

            //发异步提交数据
            $.ajax({
                url: "/admin/links_update/{{ links.pk }}/",
                type: "post",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data.status === 1) {
                        alert(data.msg);
                        parent.location.reload(); //刷新到父亲对象（框架）
                    } else {
                        $("#error_messages").text("修改失败！");
                    }
                },
            });
        }
    </script>
{% endblock %}