<!DOCTYPE html>
<html class="x-admin-sm" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'back_end/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'back_end/css/xadmin.css' %}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <link rel="stylesheet" href="{% static 'plugins/editor.md/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'my_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'code.css' %}">
    <script type="text/javascript" src="{% static 'back_end/js/xadmin.js' %}"></script>
    <script src="{% static '/back_end/lib/layui/layui.all.js' %}"></script>
    <script src="{% static '/back_end/lib/layui/layui.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
    {% block style %}

    {% endblock %}

</head>
<body>
<div>
    {% block content %}

    {% endblock %}
</div>
<script src="{% static '/jquery-3.3.1.js' %}"></script>
<div>
    {% block jquery %}

    {% endblock %}
</div>
</body>
</html>