{% extends "back_end/article_list.html" %}
{% block classify %}
    {% if page %}
        <div class="layui-card-body ">
            <table class="layui-table layui-form ">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>分类目录</th>
                    <th>日期</th>
                    <th>浏览数</th>
                    <th>喜欢</th>
                    <th>评论数</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for article in page %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.user.username }}</td>
                        <td>{{ article.classification.title }}</td>
                        <td><p>发布于</p>{{ article.create_time|date:"Y-m-d H:i" }}</td>
                        <td>{{ article.views }}</td>
                        <td>{{ article.like_count }}</td>
                        <td>{{ article.comment_count }}</td>
                        <td>
                            <a onclick="xadmin.open('查看','/admin/article_view/{{ article.pk }}/')" href="#" title="查看"
                               style="padding-left: 10px">
                                <i class="layui-icon">&#xe615;</i>
                            </a>
                            <a title="下架" onclick="member_down({{ article.pk }})" href="#"
                               style="padding-left: 10px">
                                <i class="layui-icon" style="color: red">&#xe609;下架</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "back_end/page.html" %}
        </div>
    {% else %}
        {% include "back_end/error.html" %}
    {% endif %}
{% endblock %}
{% block jquery %}
    <script>
        $("#show_all_article").attr("style", "display:none;");//隐藏div
    </script>
    <script>
        function member_down(id) {
            layer.confirm('确认要下架该文章吗？', function () {
                //发异步删除数据
                $.ajax({
                    url: "/admin/release_draft/",
                    type: "post",
                    data: {
                        pid: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function () {
                        alert('下架成功，并把文章保存到草稿箱！');
                        window.location.reload();
                    }
                })
            });
        }
    </script>
{% endblock %}