{% extends "back_end/master.html" %}
{% block content %}

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <blockquote class="layui-elem-quote">欢迎管理员：
                            <span class="x-red">{{ request.user.username }}</span>！当前时间:<span id="Date"></span>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">数据统计</div>
                    <div class="layui-card-body ">
                        <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>文章数</h3>
                                    <p>
                                        <cite>{{ article_list.count }}</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>会员数</h3>
                                    <p>
                                        <cite>{{ user_list.count }}</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>评论数</h3>
                                    <p>
                                        <cite>{{ comment_list.count }}</cite></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">我的通知</div>
                    <div class="layui-card-body">
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <iframe width="100%" src='/notice/list/' frameborder="0"
                                        scrolling="auto" seamless class="x-iframe" id="notice_iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            setInterval(function () {
                var date = new Date();
                var year = date.getFullYear(); //获取当前年份 
                var mon = date.getMonth() + 1; //获取当前月份 
                var da = date.getDate(); //获取当前日 
                var day = date.getDay(); //获取当前星期几 
                var h = date.getHours(); //获取小时 
                var m = date.getMinutes(); //获取分钟 
                var s = date.getSeconds(); //获取秒 
                var d = document.getElementById('Date');
                d.innerHTML = '当前时间:' + year + '年' + mon + '月' + da + '日' + '星期' + day + ' ' + h + ':' + m + ':' + s;
            }, 1000)
        }
    </script>

        {# iframe 自动适应高度#}
    <script type="text/javascript">
        function reinitIframe() {
            var iframe = document.getElementById("notice_iframe");
            try {
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);
                iframe.height = height;

            } catch (ex) {
            }
        }

        window.setInterval("reinitIframe()", 200);
    </script>
{% endblock %}