<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码表单</title>
    {% load static %}
    <link rel="SHORTCUT ICON" href="{% static "/img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static '/my_style.css' %}">
</head>
<body background="/static/img/login_bj.jpg">
<div id="forgot_password_head">
    <p>请输入您的用户名或电子邮箱地址。您会收到一封包含创建新密码链接的电子邮件。</p>
</div>
<div id="forgot_password_errors">
    <p id="forgot_password_error"></p>
</div>
<div id="forgot_password_index">
    <div id="login_form">
        <table id="forgot_password_table">
            <tbody>
            <tr>
                <td><p>用户名或电子邮件地址</p><input type="text" id="forgot_username"></td>
            </tr>
            <tr>
                <td>
                    <button id="forgot_submit">获取新密码</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="login_other">
    <p><span><a href="/login/">登录</a></span>&nbsp;|&nbsp;<span><a href="/register/">注册</a></span></p>
    <p><a href="/home/">返回主页</a></p>
</div>
<script src="{% static '/jquery-3.3.1.js' %}"></script>
<script>
    {# 将整个html里的input标签加上 autocomplete='off'#}
    $(function () {
        $('input:not([autocomplete])').attr('autocomplete', 'off');
    });
</script>
<script>
    // AJAX提交注册的数据
    $("#forgot_submit").click(function () {
        // 取到用户填写的注册数据，向后端发送AJAX请求
        var username = $("#forgot_username").val()
        $.ajax({
            url: "/forgot_password/",
            type: "post",
            data: {
                username: username,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                if (data.status === 1) {
                    // 有错误就展示错误
                    // 将报错信息填写到页面上
                    $("#forgot_password_error").text(data.msg).addClass("errors");

                } else {
                    // 没有错误就跳转到指定页面
                    alert("请前往邮箱进行修改！");
                    location.href = data.msg;
                }

            }
        })
    });

    // 当input框绑定获取焦点的事件，就将错误信息清空
    $("#forgot_username").focus(function () {
        $("#forgot_password_error").text("").removeClass("errors");
    });

</script>
</body>
</html>