<div class="div-back" style="margin-top: 10px;">
    <div style="text-align: left;padding-top: 10px;font-size: 18px;color:#737373;padding-left: 20px;">标签云</div>
    <div style="margin-top: 10px; border-top: solid #00a67c 1px;"></div>
    <div style="padding: 0 10px 10px 10px;width: 100%;">
        <div class="my_ul" style=" list-style-type:none;text-align:left; padding-left: 10px;"
             id="tags_list">
            {% for tag in tags_list %}
                <a href="/article_tag/{{ tag.tag_name }}/">
                    <p class="home_p">{{ tag.tag_name }}({{ tag.tag_num }})</p></a>
            {% endfor %}
        </div>
        <div style="clear:both;"></div>
    </div>
</div>