<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码表单</title>
    {% load static %}
    <link rel="SHORTCUT ICON" href="{% static "/img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static '/my_style.css' %}">
</head>
<body background="/static/img/login_bj.jpg">
<div id="update_password_head">
    <p>请输入密码来从新设置密码</p>
</div>
<div id="update_password_errors">
    <p id="update_password_error"></p>
</div>
<div id="update_password_index">
    <div id="login_form">
        <table id="update_password_table">
            <tbody>
            <tr>
                <td><p>密码</p><input type="password" id="password"></td>
            </tr>
            <tr>
                <td><p>确认密码</p><input type="password" id="re_password"></td>
            </tr>
            <tr>
                <td>
                    <button id="update_submit">提交</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="login_other">
    <p><span><a href="/login/">登录</a></span>&nbsp;|&nbsp;<span><a href="/register/">注册</a></span></p>
    <p><a href="/home/">返回主页</a></p>
</div>
<script src="{% static '/jquery-3.3.1.js' %}"></script>
<script>
    {# 将整个html里的input标签加上 autocomplete='off'#}
    $(function () {
        $('input:not([autocomplete])').attr('autocomplete', 'off');
    });
</script>
<script>
    // AJAX提交注册的数据
    $("#update_submit").click(function () {
        // 取到用户填写的注册数据，向后端发送AJAX请求
        var password = $("#password").val()
        var re_password = $("#re_password").val()
        if (password.length > 6) {
            if (password === re_password) {
                $.ajax({
                    url: "/update_password/{{ forget_code }}/",
                    type: "post",
                    data: {
                        password: password,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        if (data.status === 1) {
                            // 没有错误就跳转到指定页面
                            alert(data.msg);
                            location.href = "/login/";
                        }
                    }
                })
            } else {
                $("#update_password_error").text("密码不一致，请重新输入！").addClass("errors");
            }
        } else {
            $("#update_password_error").text("密码不能少于6位！").addClass("errors");
        }
    });

    // 当input框绑定获取焦点的事件，就将错误信息清空
    $("#password, #re_password").focus(function () {
        $("#update_password_error").text("").removeClass("errors");
    });

</script>
</body>
</html>