<div class="div-back" style="margin-top: 10px;">
    <div style="text-align: left;padding-top: 10px;font-size: 18px;color:#737373;padding-left: 20px;">微信公众号</div>
    <div style="margin-top: 10px; border-top: solid #00a67c 1px;"></div>
    <div style="overflow:hidden;padding-bottom:5px;">
        <img src="/static/img/me_weixin.jpg" style="width:100%;" alt="微信公众号">
        <p style="padding:0 10px 0 10px;color: #999;">订阅我的微信公众号，为您定期推送深度学习、Python编程、数据分析、Web开发等优质资源</p>
        <p style="padding-left: 10px;padding-bottom: 10px;">
            <span style="font-size: 14px;color: #00a67c">扫码或搜索</span><span style="margin-left: 20px;font-size: 16px;color: #E9415A;"> 爱学习的程序猫</span></p>
    </div>
</div>
